{% extends "layouts/base.html" %}

{% block title %} DeepFace {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->

        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Upload an image to be recognised</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <form method = "post" enctype="multipart/form-data">
                                            {% csrf_token %}


                                            <div class="form-group">
                                                <label for="model">Model selection</label>
                                                <select class="form-control" id="model">
                                                    {% for model in models %}
                                                <option>{{ model }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="backends">Face detection model selection</label>
                                                <select class="form-control" id="backends">
                                                    {% for backend in backends %}
                                                <option>{{ backend }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                {{ form.up_image }}
                                            </div>
                                            <button type="submit" class="btn btn-primary">Upload</button>
                                        </form>
                                    </div>
                                </div>
                                {% if img_obj %}
                                <hr>
                                <div class="row">
                                    <div class="col">
                                        <h5>Recognised person : {{ recognised_name }} </h5>
                                        <hr>
                                        <img src="{{ img_obj.up_image.url }}" alt="connect" style="max-width:100%;max-height:100%;">
                                    </div>
                                    <div class="col">
                                        <h5>Closest picture from training</h5>
                                        <hr>
                                        <img src="{{ deepface_closest_img }}" alt="deepface closest image" style="max-width:100%;max-height:100%;">
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                        </div>
                        <!-- Input group -->
                    </div>
                </div>
            </div>

            <!-- [ Main Content ] end -->
        </div>
    </div>
</div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
