{% extends "layouts/base.html" %}

{% block title %} Upload a image {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

          <!-- [ breadcrumb ] end -->
          <div class="main-body">
            <div class="page-wrapper">


                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Upload a image</h5>
                            </div>
                            <div class="card-body">
                                <h5>Form</h5>
                                <hr>
                                <div class="row">
                                    <div class="col-md-8">
                                        <form method = "post" enctype="multipart/form-data">
                                            <div class="form-group">
                                                {% csrf_token %}

                                                <label for="{{ form.name.id_for_label }}">Name</label>

                                                {{ form.name }}

                                            </div>

                                            <div class="form-group">
                                               {{ form.up_image }}
                                            </div>
                                            <button type="submit" class="btn btn-primary">Upload</button>
                                        </form>
                                    </div>



                            </div>
                        </div>
                        <!-- Input group -->

                    </div>
                </div>


            </div>
            <!-- [ Main Content ] end -->
          </div>

        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
