{% extends "layouts/base.html" %}

{% block title %} specific image  {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->

        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Image</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8" style="margin-bottom:10px;">
                                        <hr>
                                        <h5 >Name - {{img.name}}</h5>
                                        <hr>

                                        <img src="{{img.up_image.url}}" alt="Smiley face" style="max-width:100%;max-height:100%;">
                                    </div>
                                    {% for result in results %}
                                    {% if result.opencv %}
                                    <div class="col-md-8" style="margin-bottom:10px;">
                                        <hr>
                                        <h5 >Face detection with openCV</h5>
                                        <hr>
                                        <img src="{{ result.store_image.url }}" alt="face" style="max-width:100%;max-height:100%;">
                                        <p>Number of recognised person : {{ result.num_people }}</p>

                                    </div>
                                    {% elif result.mediapipe %}
                                    <div class="col-md-8" style="margin-bottom:10px;">
                                        <hr>
                                        <h5 >Face detection with mediapipe</h5>
                                        <hr>
                                        <img src="{{ result.store_image.url }}" alt="face" style="max-width:100%;max-height:100%;">
                                        <p>Number of recognised person : {{ result.num_people }}</p>

                                    </div>
                                    {% elif result.mtcnn_cv2 %}
                                    <div class="col-md-8" style="margin-bottom:10px;">
                                        <hr>
                                        <h5 >Face detection with MTCNN</h5>
                                        <hr>
                                        <img src="{{ result.store_image.url }}" alt="face" style="max-width:100%;max-height:100%;">
                                        <p>Number of recognised person : {{ result.num_people }}</p>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- [ Main Content ] end -->
        </div>

    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
