{% extends "layouts/base.html" %}

{% block title %} All the images {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->

        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Gallery of all image</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    {% for img in imgs %}
                                    <div class="col-md-4" style="margin-bottom:10px;">
                                        <hr>
                                        <a href="image/{{img.id}}" ><h5 >{{img.name}}</h5></a>
                                        <hr>

                                        <a href="image/{{img.id}}"><img src="{{img.up_image.url}}" alt="Smiley face" style="max-width:100%;max-height:100%;"></a>
                                    </div>

                                    {% endfor %}
                                </div>
                                <!-- [ Main Content ] end -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
