{% extends "layouts/base.html" %}

{% block title %} DeepFace {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->

        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Result from the validation set</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    {% for person in data %}


                                    <div class="col-md-4">
                                        <h5>Ground truth person : {{ person.name }}</h5>
                                        <hr>
                                        <img src="{{person.url}}" alt="connect" style="max-width:100%;max-height:100%;">
                                        <h6>Confidence : {{ person.confidence }}</h6>
                                    </div>

                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                        <!-- Input group -->
                    </div>
                </div>
            </div>

            <!-- [ Main Content ] end -->
        </div>
    </div>
</div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
