
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a target="_blank" href="/" class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-trending-up"></i>
                    </div>
                    <span class="b-title">Disco face tech v1</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navigation</label>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                        class="nav-item {% if 'index' == segment %} active {% endif %}">
                        <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                    </li>

<!--                    image-->
                    <li class="nav-item pcoded-menu-caption">
                        <label>Image gallery and import</label>
                    </li>
                    <li data-username="form elements advance componant validation masking wizard picker select"
                        class="nav-item {% if 'ui-forms' in segment %} active {% endif %}">
                        <a href="/image" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-file-text"></i></span><span class="pcoded-mtext">All images</span></a>
                    </li>

                    <li data-username="Table bootstrap datatable footable"
                        class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
                        <a href="/upload_image" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-server"></i></span><span class="pcoded-mtext">Upload a image</span></a>
                    </li>
                    <li data-username="Table bootstrap datatable footable"
                        class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
                        <a href="/upload_video" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-server"></i></span><span class="pcoded-mtext">Upload a video</span></a>
                    </li>

<!--                        face detection -->
                    <li class="nav-item pcoded-menu-caption">
                        <label>Face detection</label>
                    </li>
                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">OpenCV</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/opencv_cam" class="">OpenCV with webcam</a></li>
                        </ul>
                    </li>

                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">MediaPipe</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/mediapipe_cam" class="">Mediapipe with webcam</a></li>
                        </ul>
                    </li>

                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">MTCNN</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/mtcnn_cam" class="">MTCNN with webcam</a></li>
                        </ul>
                    </li>

                    <li class="nav-item pcoded-menu-caption">
                        <label>Face recognition</label>
                    </li>
                    <li data-username="OpenCv LBPHFaceRecognizer" class="nav-item {% if 'OpenCv LBPHFaceRecognizer' in segment %} active {% endif %}">
                        <a href="/LBPHFaceRecognizer" class="nav-link ">
                            <span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">OpenCv LBPHFaceRecognizer</span></a></li>
                    <li data-username="DeepFace" class="nav-item {% if 'DeepFace' in segment %} active {% endif %}">
                        <a href="/deepface" class="nav-link ">
                            <span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">DeepFace</span></a></li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>Pages</label>
                    </li>
                    <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Authentication</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/auth-reset-pass.html" class="">Reset Pass</a></li>

                        </ul>
                    </li>
                    <li data-username="Sample Page" class="nav-item {% if 'page-blank' in segment %} active {% endif %}">
                        <a href="/page-blank.html" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Sample page</span></a></li>

                    <li data-username="Disabled Menu" class="nav-item">

                            <span class="pcoded-micon">
                                <i class="feather icon-power"></i>
                            </span>
                            <span class="pcoded-mtext">Logout - [ {{ request.user.username }} ]</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
