{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="col-sm-12">
                        <h5 class="mb-3">Face detection</h5>
                        <hr>
                        <div class="card">
                            <div class="card-header">
                                <a class="btn btn-primary m-t-5 collapsed" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">OpenCv</a>
                                <a class="btn btn-primary m-t-5 collapsed" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">Mediapipe</a>
<!--                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">Button with data-target</button>-->
                            </div>
                            <div class="collapse" id="collapseExample" style="">
                            <div class="card-body">
                                    <a href="{% url 'opencv_cam' %}">Webcam face detection with openCV</a>

                                </div>
                            </div>
                            <div class="collapse" id="collapseExample1" style="">
                                <div class="card-body">
                                    <a href="{% url 'mediapipe_cam' %}">Webcam face detection with google mediapipe</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    </div>
                    <!-- [ Main Content ] end -->
                </div>

        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
