{% extends "layouts/base.html" %}

{% block title %} Webcam feed with openCV {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Video from webcam</h5>
                                </div>
                                <div class="card-block">
                                    <div class="text-center">
                                        <img class="center-block" src="{% url 'video_feed_opencv' %}" alt="No webcam found">
                                    </div>
                                </div>
                                <form onsubmit="return false;">
                                    {% csrf_token %}
                                    <button type="submit"  id="screenshot" class="btn btn-primary">take screenshot</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- [ Main Content ] end -->
            </div>

        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>

    $("#screenshot").click(function(e) {
        e.preventDefault,
           $.ajax({
        type: 'POST',
        dataType: 'application/json',
        url: '/take_screenshot',
        data: {
            "result": "screenshot",
        },
        dataType: "json",
        success: function (data) {
            console.log(data)
        },
        failure: function () {
            alert("failure");
        }
    });

    });

</script>
{% endblock javascripts %}
